body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: rgb(250, 244, 247);
    background-image: url("https://i.pinimg.com/564x/69/41/4a/69414a17fd63ba2ce8ff780d2d33be66.jpg");
    background-repeat: no-repeat;
    background-position: left bottom left ;
    }

/* .table {
    table-layout: fixed;
    background-color: rgb(255, 182, 193);
    padding: 50%;
    border: rgb(9, 93, 93) solid 4px;
} */

.Square {
    background-color: pink;
    width: 110PX;
    height: 110PX;
    border: white solid 6px;
    margin: 3px;
}

td #row1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-direction: row;
    flex-wrap: wrap;
}

h2 {
    font-style: italic;
    font-size: medium;
    margin: 50px;
    text-align: center;
    background-color: pink;
    border: white solid 3px;
    border-radius: 6%;
    padding:10px 40px;
}

button {
    font-size: large;
    margin: 50px;
    background-color: pink;
    border: white solid 3px;
    border-radius: 6%;
    padding:10px;
}

